* {
  font-family: "AvenirLTPro-Heavy", "sdg-m", sans-serif;
}
/* header */

header {
  position: fixed;
  top: 0;
  padding: 10px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.main-link {
  display: block;
  width: 112px;
  height: 24px;
}

.main-logo {
  width: 100%;
  height: 100%;
  background-image: url(../img/logo-w.svg);
  background-position: center;
}

header.scrolled {
  border-bottom: 1px solid #00000080;
  background-color: #ffffff80;
}

header.scrolled .main-logo {
  width: 100%;
  height: 100%;
  background-image: url(../img/logo-blue.svg);
  background-position: center;
}

header.hide-header {
  transform: translateY(-100%);
  opacity: 0;
}

.hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#hamberger {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
}

.hamberger-rect {
  width: 26px;
  height: 3px;
  display: block;
  background-color: white;
  position: absolute;
  top: 30%;
  transition: 0.2s;
}

.hamberger-rect:last-child {
  left: 20%;
  top: 60%;
}

.scrolled .hamberger-rect {
  background-color: #0bb8ff;
}

#hamberger.active > .hamberger-rect:first-child {
  transform: translate(-50%, -50%) rotate(405deg);
}

#hamberger.active > .hamberger-rect:last-child {
  transform: translate(-50%, -50%) rotate(-405deg);
}

#hamberger.active > .hamberger-rect {
  top: 50%;
  left: 50%;
}

.hamberger-menu-container {
  width: 400px;
  background-color: #28323c;
  padding: 0 32px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.5;
}

.hamberger-menu-list {
  border-bottom: 1px solid gray;
  padding: 16px 0;
}

.hamberger-menu {
  font-size: 18px;
  font-weight: bold;
}

.hamberger-menu > a {
  color: #eee;
  display: block;
  padding: 16px 0;
  text-decoration: none;
}

.hamberger-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: #000000cc;
  display: flex;
  justify-content: flex-end;
}

.hamberger-modal .hide-modal {
  opacity: 0;
  transition: 0.5s;
}

.go-back {
  z-index: -10;
}

.hamberger-modal.hide-modal > nav {
  transform: translateX(100%);
}

/* intro */

#intro {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main_visual_fullscreen.jpg);
  background-position: center;
  background-size: cover;
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  text-align: center;
  color: #fff;
  font-size: 64px;
  line-height: 1.4;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

main {
}

#socar-service {
  padding: 0 40px;
  min-height: 600px;
}

.service-item {
  overflow: auto;
  margin: 100px auto;
  max-width: 800px;
}

.service-img-container {
  max-width: 800px;
}

.service-img {
  width: 100%;
  margin: 50px 0px;
}

.service-font-black {
  color: #374553;
  font-size: 30pt;
  letter-spacing: -0.025em;
  line-height: 1.3;
  margin-bottom: 16px;
}

.service-font-black::after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0bb8ff;
  margin-left: 8px;
}

.service-font-gray {
  font-size: 14pt;
  color: #aaa;
  letter-spacing: -0.025em;
  line-height: 1.5;
}

#with-user {
  background-color: #ececec;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -10;
}

#with-user .blue {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0bb8ff;
  transform: skewX(-35deg);
  left: 110%;
}
#with-user .after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0bb8ff;
  transform: skewX(-35deg);
  left: 75%;
  transition: 1s;
}

.text-wrap {
  width: 100%;
  height: 100%;
  padding: 100px 0;
}
.user-innertext {
  font-size: 36px;
  text-align: center;
  line-height: 1.5;
  color: #aaa;
}

.font-blue {
  font-weight: bold;
  color: #0bb8ff;
}

/* footer */
footer {
  width: 100%;
  background-color: #28323c;
  padding: 40px 18px 100px;
}

.footer-inner {
  margin: 0 212px;
}

#icon {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.icon-container {
  width: 30px;
  height: 30px;
}

.icon-img {
  width: 100%;
  height: 100%;
}

#customer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.customer-inner {
  font-size: 17px;
  color: #c5c8ce;
}

.bold {
  color: rgb(255, 255, 255);
}

#copyright {
  display: flex;
  justify-content: space-between;
}

.adress {
  font-size: 14px;
  line-height: 1.7;
  color: #646f7c;
}

.information {
  font-size: 14px;
  line-height: 1.7;
  color: #646f7c;
}

.under-line {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

#app-btn {
  right: 0;
  bottom: 0;
  position: fixed;
  width: 340px;
  height: 90px;
  overflow: hidden;
}

.app-text {
  font-size: 16pt;
  letter-spacing: -0.03em;
  line-height: 1.3;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.app-img-wrap {
  z-index: 20;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.app-img-wrap > img {
  width: 100%;
  height: 100%;
}

#app-blue {
  position: absolute;
  left: 10%;
  width: 100%;
  height: 90px;
  background-color: #00b8ff;
  transform: skewX(-30deg) translate3d(0, 0, 0);
}
